div {
	border: 3px solid blue;
	padding: 100px;
	border-radius: 20px;
	text-align: center;
	background-image: url("images/e.jpg");
	background-size: cover;

}
div:hover{
	background-image: url("images/12.jpg");
}